asgiref==3.9.1
boto3==1.40.23
botocore==1.40.23
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
cryptography==45.0.7
Django==5.2.3
django-cors-headers==4.7.0
django-rest-framework-mongoengine==3.4.1
django-rest-knox==5.0.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dnspython==2.8.0
dotenv==0.9.9
dynaconf==3.2.11
gunicorn==23.0.0
hvac==2.3.0
idna==3.10
Jinja2==3.1.6
jmespath==1.0.1
knox==0.1.14
loguru==0.7.3
MarkupSafe==3.0.2
mongoengine==0.29.1
packaging==25.0
pillow==11.2.1
pycparser==2.22
PyJWT==2.9.0
pymongo==4.15.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
requests==2.32.4
s3transfer==0.13.1
setuptools==80.9.0
shortuuid==1.0.13
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
validators==0.35.0
